MagicInventorySystem/bin/Debug/MagicInventorySystem.vshost.exe
MagicInventorySystem/bin/Debug/MagicInventorySystem.exe
MagicInventorySystem/bin/Debug/MagicInventorySystem.pdb
MagicInventorySystem/bin/Debug/Melbourne_CBD_Inventory.json
*.json